

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">




           <ul class="shop-cart-group">

               <li  class="item">

                   <div class="vh-center face">
                       <img src="/static/head.jpg"/>
                   </div>
                   <div class="description">
                       <div class="title">第三方口径</div>
                       <div class="props">当时发生的范德萨</div>
                       <span class="detail">
                           <yd-icon name="location"></yd-icon>
                           四川省眉山是洪雅县但是看见奋</span>
                       <span class="phone">
                           <yd-icon name="phone2"></yd-icon>
                           18684014308</span>

                       <yd-button type="danger">进入店铺</yd-button>
                   </div>

               </li>
               <li  class="item">

                   <div class="vh-center face">
                       <img src="/static/head.jpg"/>
                   </div>
                   <div class="description">
                       <div class="title">第三方口径</div>
                       <div class="props">当时发生的范德萨</div>
                       <span class="detail">
                           <yd-icon name="location"></yd-icon>
                           四川省眉山是洪雅县但是看见奋</span>
                       <span class="phone">
                           <yd-icon name="phone2"></yd-icon>
                           18684014308</span>

                       <yd-button type="danger">进入店铺</yd-button>
                   </div>

               </li>
               <li  class="item">

                   <div class="vh-center face">
                       <img src="/static/head.jpg"/>
                   </div>
                   <div class="description">
                       <div class="title">第三方口径</div>
                       <div class="props">当时发生的范德萨</div>
                       <span class="detail">
                           <yd-icon name="location"></yd-icon>
                           四川省眉山是洪雅县但是看见奋</span>
                       <span class="phone">
                           <yd-icon name="phone2"></yd-icon>
                           18684014308</span>

                       <yd-button type="danger">进入店铺</yd-button>
                   </div>

               </li>
               <li  class="item">

                   <div class="vh-center face">
                       <img src="/static/head.jpg"/>
                   </div>
                   <div class="description">
                       <div class="title">第三方口径</div>
                       <div class="props">当时发生的范德萨</div>
                       <span class="detail">
                           <yd-icon name="location"></yd-icon>
                           四川省眉山是洪雅县但是看见奋</span>
                       <span class="phone">
                           <yd-icon name="phone2"></yd-icon>
                           18684014308</span>

                       <yd-button type="danger">进入店铺</yd-button>
                   </div>

               </li>
               <li  class="item">

                   <div class="vh-center face">
                       <img src="/static/head.jpg"/>
                   </div>
                   <div class="description">
                       <div class="title">第三方口径</div>
                       <div class="props">当时发生的范德萨</div>
                       <span class="detail">
                           <yd-icon name="location"></yd-icon>
                           四川省眉山是洪雅县但是看见奋</span>
                       <span class="phone">
                           <yd-icon name="phone2"></yd-icon>
                           18684014308</span>

                       <yd-button type="danger">进入店铺</yd-button>
                   </div>

               </li>

           </ul>
    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>