

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">

        <div class="head">
                <img src="/static/head.jpg" />
            <p>阿俊</p>
        </div>

        <yd-cell-group class="cell-group">
            <yd-cell-item arrow href="/order.html" type="a">
                <yd-icon slot="icon" name="order" size=".42rem"></yd-icon>
                <span slot="left">我的订单</span>
            </yd-cell-item>
            <yd-cell-item arrow href="/coupon.html" type="a">
                <yd-icon slot="icon" name="discount" size=".42rem"></yd-icon>
                <span slot="left">我的优惠券</span>
            </yd-cell-item>
            <yd-cell-item arrow href="/address.html" type="a">
                <yd-icon slot="icon" name="location" size=".42rem"></yd-icon>
                <span slot="left">我的收货地址</span>
            </yd-cell-item>
            <yd-cell-item arrow href="/merchant.html" type="a">
                <yd-icon slot="icon" name="like-outline" size=".42rem"></yd-icon>
                <span slot="left">我的店铺收藏</span>
            </yd-cell-item>

        </yd-cell-group>

        <footer-bar></footer-bar>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>