

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">

        <div class="empty-cart" v-if="shopCartData.length===0" >
            <img  width="100%" src="/static/empty.png"/>
            <p>呃，身体感觉被掏空～～</p>
        </div>

           <ul class="shop-cart-group">

               <li v-for="item in shopCartData" class="item">
                   <div class="selection vh-center">
                       <yd-checkbox v-model="item.checked"></yd-checkbox>
                   </div>
                   <div class="vh-center face">
                       <img :src="item.logo"/>
                   </div>
                   <div class="description">
                       <div class="title">{{item.good_name}}</div>
                       <div class="props">{{item.prop}}</div>

                       <span class="amount">¥{{item.sale_price}}</span>
                       <yd-spinner v-model="item.count" max="99"></yd-spinner>
                   </div>

               </li>


           </ul>

        <footer class="cart-footer">
            <span class="amount v-center"> 合计：¥{{totalAmount}}</span>
            <yd-button @click.native="changeMode">{{headerBtnText}}</yd-button>
            <yd-button type="danger" @click.native="checkout">{{payBtnText}}</yd-button>

        </footer>

        <footer-bar></footer-bar>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>