<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title>vue-multiple</title>
  </head>
  <body>
    <div id="home-app">
      {{message}} 

      <button  @click="changeMessage">change message</button>

        <swiper ref="bannerSwiper" class="banner">

                <div class="swiper-slide" v-for="slide in slides">{{slide}}</div>

        </swiper>

        <button @click="addSlide">add slide </button>

    </div>

  </body>
</html>
