

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">
           <header class="header">
               <img  alt="超级马特" src="/static/logo.png" class="logo"></img>
               <div class="search">
                   <input placeholder="请输入商品名称查询"/>

               </div>

           </header>
           <div class="slide-banner vh-center">
               <img src="http://static.ydcss.com/uploads/ydui/1.jpg" alt="he">
           </div>
           <ul class="slide-category">
               <li class="category-item active">马桶</li>
               <li class="category-item">厨卫</li>
               <li class="category-item">线材</li>
               <li class="category-item">管线</li>
               <li class="category-item">瓷砖</li>
           </ul>
           <div class="perferential-group">


               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="sale">¥23.98</span>
                               <yd-icon  name="shopcart-outline"></yd-icon>
                           </div>


                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="sale">¥23.98</span>
                               <yd-icon  name="shopcart-outline"></yd-icon>
                           </div>


                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="sale">¥23.98</span>
                               <yd-icon  name="shopcart-outline"></yd-icon>
                           </div>


                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="sale">¥23.98</span>
                               <yd-icon  name="shopcart-outline"></yd-icon>
                           </div>


                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="sale">¥23.98</span>
                               <yd-icon  name="shopcart-outline"></yd-icon>
                           </div>


                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="sale">¥23.98</span>
                               <yd-icon  name="shopcart-outline"></yd-icon>
                           </div>


                       </div>
                   </div>

               </div>




           </div>



        <footer-bar></footer-bar>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>