

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">

        <yd-tab>
            <yd-tab-panel label="待付款">
                <div class="item">
                    <div class="time_order">创建时间：2017-09-98 12:12:09 <span>订单编号：199982</span></div>
                    <div class="good_name">超级好吃的西瓜</div>
                    <div class="amount">¥89.09</div>
                    <div class="count">共计 3 件商品</div>
                    <yd-button type="danger">付款</yd-button>

                </div>
                <div class="item">
                    <div class="time_order">创建时间：2017-09-98 12:12:09 <span>订单编号：199982</span></div>
                    <div class="good_name">超级好吃的西瓜</div>
                    <div class="amount">¥89.09</div>
                    <div class="count">共计 3 件商品</div>
                    <yd-button type="danger">付款</yd-button>

                </div>
                <div class="item">
                    <div class="time_order">创建时间：2017-09-98 12:12:09 <span>订单编号：199982</span></div>
                    <div class="good_name">超级好吃的西瓜</div>
                    <div class="amount">¥89.09</div>
                    <div class="count">共计 3 件商品</div>
                    <yd-button type="danger">付款</yd-button>

                </div>
                <div class="item">
                    <div class="time_order">创建时间：2017-09-98 12:12:09 <span>订单编号：199982</span></div>
                    <div class="good_name">超级好吃的西瓜</div>
                    <div class="amount">¥89.09</div>
                    <div class="count">共计 3 件商品</div>
                    <yd-button type="danger">付款</yd-button>

                </div>

            </yd-tab-panel>
            <yd-tab-panel label="已支付">

            </yd-tab-panel>

        </yd-tab>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>