<%= htmlWebpackPlugin.options.commonData.header%>


<div class="root-container" v-cloak id="app-root">

    <!-- new address popwindow-->
    <yd-popup v-model="showForm" position="bottom" width="100%">
        <yd-cell-group class="cell-group">
            <yd-cell-item>
                <yd-icon slot="icon" name="ucenter-outline" size=".42rem"></yd-icon>
                <input slot="right" type="text" placeholder="请输入收货人姓名"/>
            </yd-cell-item>
            <yd-cell-item>
                <yd-icon slot="icon" name="phone2" size=".42rem"></yd-icon>
                <input slot="right" type="number" placeholder="请输入收货人联系电话"/>
            </yd-cell-item>
            <yd-cell-item>
                <yd-icon slot="icon" name="location" size=".42rem"></yd-icon>
                <yd-textarea slot="right" placeholder="请输入详细收货地址" maxlength="50"></yd-textarea>
            </yd-cell-item>
        </yd-cell-group>

        <div class="submit-address">
            <yd-button size="large">提交</yd-button>
        </div>

    </yd-popup>


    <!-- address list  -->


    <ul>
        <li class="item">
            <div class="wrapper">
                <div class="name">姚军：189***9878</div>
                <div class="detail">四川省成都市区武侯区红牌楼生活广场2栋三单元9楼20号左转</div>
                <div class="action-bar">
                    <yd-checkbox>默认地址</yd-checkbox>

                    <span class="btn-del">
                         <yd-icon name="delete"></yd-icon>
                         删除
                     </span>
                    <span class="btn-ed">
                        <yd-icon name="compose"></yd-icon>
                        编辑
                    </span>
                </div>
            </div>

        </li>


    </ul>


    <footer>
        <yd-button size="large" @click.native="showForm=true" type="danger">添加收货地址</yd-button>
    </footer>
</div>

<%= htmlWebpackPlugin.options.commonData.footer%>