

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">

           <div class="slide-banner">
                <yd-slider autoplay="3000">
                    <yd-slider-item>
                        <a>
                            <img src="http://static.ydcss.com/uploads/ydui/1.jpg" alt="he">
                        </a>
                    </yd-slider-item>
                    <yd-slider-item>
                        <a>
                            <img src="http://static.ydcss.com/uploads/ydui/2.jpg" alt="he">
                        </a>
                    </yd-slider-item>
                    <yd-slider-item>
                        <a>
                            <img src="http://static.ydcss.com/uploads/ydui/3.jpg" alt="he">
                        </a>
                    </yd-slider-item>

                </yd-slider>
           </div>


            <div class="goods-content">
                <div class="title">超级瓷砖</div>
                <div class="desc">瓷砖，又称磁砖，是以耐火的金属氧化物及半金属氧化物，经由研磨、混合、压制、施釉、烧结之过程，而形成的一种耐酸碱的瓷质或石质等，建筑或装饰材料，称之为瓷砖。其原材料多由粘土、石英砂等等混合而成。</div>
                <div class="origin">原价：9999.99</div>
                <div class="amount"><span>¥</span><strong>8888.88</strong></div>
                <div class="shop-name">店铺：超级五金杂货店</div>
                <div class="props">
                    <span>看电视剧法律</span>
                    <span>看电视剧法律</span>
                    <span>看电视剧法律</span>
                    <span>看电视剧法律</span>
                    <span>看电视剧法律</span>
                </div>
            </div>

            <div class="rich-text-content">
                <div class="title">图文详情</div>

                <div class="content">
                    <img src="/static/category-1.jpg"/>
                    <p>瓷砖的历史应该追溯到公元前，当时，埃及人已开始用瓷砖来装饰各种类型的房屋。人们将粘土砖在阳光下晒干或者通过烘焙的方法将其烘干，然后用从铜中提取出的蓝釉进行上色。</p>
                    <img src="/static/category-1.jpg">
                    <p>公元前，美索不达米亚地区也发现了瓷砖。这种瓷砖以蓝色和白色的条纹达到装饰地目的，后来出现了更多种的式样和颜色。中国是陶瓷艺术的中心，早在商殷时期就生产出一种精美的白炻器。</p>
                    <img src="/static/category-1.jpg">
                    <p>在中世纪伊斯兰时期，
                        古埃及瓷砖
                        古埃及瓷砖
                        所有瓷砖的装饰方法在波斯达到了顶峰。随后，瓷砖的运用逐渐盛行全世界，在瓷砖的历史进程中，西班牙和葡萄牙的马赛克、意大利文艺复兴时期的地砖、安特卫普的釉面砖、荷兰瓷砖插图的发展以及德国的瓷砖都具有里程碑式的意义。</p>
                    <img src="/static/category-1.jpg">
                    <p>在古代，都是手工制作。也就是说，每一块瓷砖都是手工成型、手工着色，因此每一块瓷砖都是一件独特的艺术品。</p>
                    <img src="/static/category-1.jpg"/>
                    <p>如今，全世界范围内，是运用自动化的生产技术，人的手只是用来操作设备。与过去一样，室内室外都使用瓷砖进行装饰。</p>
                </div>


            </div>



           <footer>
               <div class="bar">
                   <div class="item">
                       <yd-icon name="like-outline"></yd-icon>
                       <p>关注</p>
                   </div>
                   <div class="item">
                       <yd-icon name="phone2"></yd-icon>
                       <p>联系</p>
                   </div>

                   <div class="item">
                       <yd-icon name="shopcart-outline"></yd-icon>
                       <p>购物车</p>
                   </div>

               </div>
               <yd-button type="danger">加入购物车</yd-button>
           </footer>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>