

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">

            <yd-infinitescroll :callback="loadList" ref="scroll">
                <ul slot="list">
                    <li class="item" v-for="item,key in list">
                        <span class="left">{{item.name}}</span>
                        <span class="right">{{item.time}}</span>
                    </li>
                </ul>

                <span slot="doneTip">呃！好像扯到底啦~~</span>
            </yd-infinitescroll>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>