

    <%= htmlWebpackPlugin.options.commonData.header%>


    <div class="root-container" v-cloak id="app-root">
           <header class="header">
               <img  alt="超级马特" src="/static/logo.png" class="logo"></img>
               <div class="search">
                   <input />

               </div>

           </header>
           <div class="slide-banner">
                <yd-slider autoplay="3000">
                    <yd-slider-item>
                        <a>
                            <img src="http://static.ydcss.com/uploads/ydui/1.jpg" alt="he">
                        </a>
                    </yd-slider-item>
                    <yd-slider-item>
                        <a>
                            <img src="http://static.ydcss.com/uploads/ydui/2.jpg" alt="he">
                        </a>
                    </yd-slider-item>
                    <yd-slider-item>
                        <a>
                            <img src="http://static.ydcss.com/uploads/ydui/3.jpg" alt="he">
                        </a>
                    </yd-slider-item>

                </yd-slider>
           </div>
           <ul class="slide-category">
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>
               <li class="category-item">
                   <img class="category-icon" src="/static/category-1.jpg"/>
                   <p class="category-title">马桶</p>
               </li>

           </ul>
           <div class="perferential-group">
               <div class="common-group-title-more">
                   精品特惠

                   <yd-button type="danger">更多</yd-button>
               </div>

               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="orign">¥37.99</span>
                               <span class="sale">¥23.98</span>
                           </div>

                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="orign">¥37.99</span>
                               <span class="sale">¥23.98</span>
                           </div>

                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="orign">¥37.99</span>
                               <span class="sale">¥23.98</span>
                           </div>

                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="orign">¥37.99</span>
                               <span class="sale">¥23.98</span>
                           </div>

                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="orign">¥37.99</span>
                               <span class="sale">¥23.98</span>
                           </div>

                       </div>
                   </div>

               </div>
               <div class="goods-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/2.jpg"/>
                       </div>

                       <div class="desc">
                           <div class="title">超可爱小狗</div>
                           <div class="amount">
                               <span class="orign">¥37.99</span>
                               <span class="sale">¥23.98</span>
                           </div>

                       </div>
                   </div>

               </div>

           </div>
           <div class="brand-merchant">
               <div class="common-group-title-more">
                   品牌商家
                   <yd-button type="danger">更多</yd-button>
               </div>

               <div class="merchant-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/3.jpg"/>
                       </div>
                       <div class="title">超可爱小狗</div>
                   </div>
               </div>
               <div class="merchant-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/3.jpg"/>
                       </div>
                       <div class="title">超可爱小狗</div>
                   </div>
               </div>
               <div class="merchant-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/3.jpg"/>
                       </div>
                       <div class="title">超可爱小狗</div>
                   </div>
               </div>
               <div class="merchant-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/3.jpg"/>
                       </div>
                       <div class="title">超可爱小狗</div>
                   </div>
               </div>
               <div class="merchant-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/3.jpg"/>
                       </div>
                       <div class="title">超可爱小狗</div>
                   </div>
               </div>
               <div class="merchant-item">
                   <div class="inner">
                       <div class="vh-center face">
                           <img src="http://static.ydcss.com/uploads/ydui/3.jpg"/>
                       </div>
                       <div class="title">超可爱小狗</div>
                   </div>
               </div>
           </div>


        <footer-bar></footer-bar>

    </div>

    <%= htmlWebpackPlugin.options.commonData.footer%>