

@import "../../style/color";
@import "../../style/var";
.root-container{
  padding-bottom: 100px;
  .header{
    height: @headHeight;
    background: @headerBackground;
    color: @headerFont;
    display: flex;
    .logo{
      height: 32px;
      margin-top: 9px;
      margin-left: 15px;
    }
    .search{
      flex:1;
      position: relative;
      margin-top: 9px;
      margin-left: 12px;
      margin-right: 15px;
      input{
        border-radius: 4px;
        border:0;
        outline: none;
        padding:3px 15px;
        padding-left: 30px;
        height: 32px;
        box-sizing: border-box;
        width: 100%;
        background: #ffffff url("../../assets/head-search.png") no-repeat 8px center;
        background-size: 16px;
        color: #666666;

      }

    }
  }

  .slide-banner{
    height: 200px;
    img{
      height: 100%;
    }
    .yd-slider-item{
      height: 200px;
    }
  }

  .slide-category{

    padding: 20px 0;
    overflow: hidden;
    background: #ffffff;
    .category-item{
      width: 25%;
      text-align: center;
      float: left;
      padding: 5px 0;
      .category-icon{
        overflow: hidden;
        width: 50px;
        border-radius: 32px;
      }
      .category-title{
        font-size: 12px;
        color: #333333;
      }
    }
  }

  .perferential-group{

    overflow: hidden;
    .goods-item{
      float: left;
      width: 50%;
      padding: 8px ;
      background: #ffffff;
      border-right: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;

      &:nth-child(odd){
        padding-left: 4px;
      }
      &:nth-child(even){
        padding-right: 4px;

      }


      .inner{
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction:column;
        height: 260px;
      }
      .face{
        flex: 1;
        overflow: hidden;
      }
      .desc{
        height: 78px;
        padding: 0 10px;
        background: #ffffff;
        .title{
          font-size: 14px;
          color: #666666;
          padding: 10px 0;
        }
        .amount{
          overflow: hidden;
          padding-top: 10px;
          .orign{
            float: left;
            font-size: 12px;
            color: #989898;
            text-decoration: line-through;
            margin-top: 3px;
          }
          .sale{
            float: right;
            color: @primary;
            font-size: 18px;

          }
        }
      }
      img{
        height: 100%;
      }
    }
  }


  .brand-merchant{
    overflow: hidden;
    background: #ffffff;
    .merchant-item{
      float: left;
      width: 50%;
      padding: 8px ;
      border-right: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      &:nth-child(odd){
        padding-left: 4px;
      }
      &:nth-child(even){
        padding-right: 4px;

      }
      .inner{
        overflow: hidden;
        display: flex;
        flex-direction:column;
        height: 260px;
      }
      .face{
        flex: 1;
        overflow: hidden;
      }
      .title{
        font-size: 14px;
        color: #666666;
        padding: 10px;
        background: #ffffff;
      }

      img{
        height: 100%;
      }
    }
  }
}


// common
.common-group-title-more{
  text-align: center;
  color: @headerBackground;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  background: #ffffff;
  padding: 15px 0;
  border-top: 1px solid #f1f1f1;
  .yd-btn{
    position: absolute;
    right: 15px;
    top: 8px;
  }
}